<ion-view title="Settings">
    <ion-content padding="true">

        <div class="item item-divider">Maps</div>
        <div class="list">    
            <ion-toggle ng-model="trafficMode" toggle-class="toggle-energized">Traffic</ion-toggle>
            <ion-toggle ng-model="mobileCameraMode" toggle-class="toggle-energized">Mobile Camera</ion-toggle>

        </div>

        <div class="item item-divider">Phone</div>
            <div class="list">
            <ion-toggle ng-model="soundOnOff" toggle-class="toggle-energized">Sound</ion-toggle>     
            <ion-toggle ng-model="vibrationOnOff" toggle-class="toggle-energized">Vibration</ion-toggle> 

            <div class="item range range-energized">
                    Warning Distance: {{userSettings.warningDistance}}
                    <i class="icon ion-ios-speedometer-outline warning-distance"></i>
                    <input ng-model="userSettings.warningDistance" type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-speedometer"></i>   
                </ul>
            </div>

            <div class="item range range-energized">
                GPS in Second: {{userSettings.gpsIntervalSecond}} 
                <i class="icon ion-ios-pulse gps-in-second"></i>
                <input ng-model="userSettings.gpsIntervalSecond" type="range" name="gpsInSecond" min="0" max="100" value="33">
                <i class="icon ion-ios-pulse-strong"></i>
            </div>

            <div class="item range range-energized">
                GPS in Meter: {{userSettings.gpsIntervalMeter}}
                <i class="icon ion-ios-pulse gps-in-meter"></i>
                <input ng-model="userSettings.gpsIntervalMeter" type="range" name="gpsInMeter" min="0" max="100" value="33">
                <i class="icon ion-ios-pulse-strong"></i>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">Me</div>
            <ion-toggle ng-model="userSettings.myLocationOnOff.checked" toggle-class="toggle-energized">Pin My Location</ion-toggle>
            <ion-toggle ng-model="userSettings.needForSpeedOnOff.checked" toggle-class="toggle-assertive"><i class="icon ion-jet assertive"></i> Need 4 Speed</ion-toggle>
        
            <label class="item item-input item-select">
                <div class="input-label">
                    Country
                </div>
                <select>
                    <option>Australia</option>
                    <option selected>New Zealand</option>
                    <option>France</option>
                    <option>Hong Kong (China)</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option>Australian Capital Territory</option>
                    <option selected>New South Wales</option>
                    <option>Northern Territory</option>
                    <option>Queensland</option>
                    <option>Western Australia</option>
                    <option>Tasmania</option>
                    <option>Victoria</option>
                </select>
            </label>
        </div>
        
    </ion-content>
</ion-view>
