$font : "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-italic-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-bold-primary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;


$font-secondary: Georgia, Times, "Times New Roman", serif;
$font-italic-secondary: Georgia, Times, "Times New Roman", serif;
$font-bold-secondary: Georgia, Times, "Times New Roman", serif;