<ion-view title="Maps">
 
	<ion-side-menus>
		<fade-bar></fade-bar>

		<ion-pane ion-side-menu-content>
			<header class="bar bar-header bar-stable">
			  	<button class="button button-icon" ng-click="toggleLeft()"><i class="icon ion-arrow-swap dark"></i></button>
			  	<h1 class="title">Slide to Quick Settings</h1>
			</header>
			<ion-content has-header="true" padding="true">
		  		
		  		<ui-gmap-google-map center='map.center' zoom='map.zoom'>

		  			<ui-gmap-markers models="cameraMarkers" coords="'self'" click="'onClicked'">
	  					<ui-gmap-windows show="show"> <div ng-non-bindable>{{description}}</div></ui-gmap-windows>
	  				</ui-gmap-markers>

	  				<ui-gmap-layer namespace="weather" type="WeatherLayer" show="weatherOnOff"></ui-gmap-layer>	  				

		  		</ui-gmap-google-map>
			
			</ion-content>
		</ion-pane>

		<ion-side-menu side="left">
			<header class="bar bar-header bar-energized" fade-header>
		  		<h2 class="title">Quick Settings</h1>
			</header>
			
			<ion-content has-header="true">
				
				<div class="item item-divider">Maps</div>
		        <div class="list">
		        	<ion-toggle ng-model="weatherOnOff" toggle-class="toggle-energized">Weather</ion-toggle>    
		            <ion-toggle ng-model="trafficOnOff" toggle-class="toggle-energized">Traffic</ion-toggle>
		            <ion-toggle ng-model="mobileCameraMode" toggle-class="toggle-energized">Mobile Camera</ion-toggle>
		        </div>

		        <div class="item item-divider">Phone</div>
	            <div class="list">
	            	<ion-toggle ng-model="soundOnOff" toggle-class="toggle-energized">Sound</ion-toggle>     
	            	<ion-toggle ng-model="vibrationOnOff" toggle-class="toggle-energized">Vibration</ion-toggle> 
	        	</div>

	        	<div class="list">
	            	<div class="item item-divider">Me</div>
	            	<ion-toggle ng-model="myLocationOnOff" toggle-class="toggle-energized">My Location</ion-toggle>
	            	<ion-toggle ng-model="needForSpeedMode" toggle-class="toggle-assertive">Need 4 Speed</ion-toggle>
	        	</div>  	
				  	
			</ion-content>
		</ion-side-menu>
    </ion-side-menus>

</ion-view>
