<ion-tabs class="tabs-icon-only">


  <ion-tab title="Maps" icon-on="ion-ios-location balanced" icon-off="ion-ios-location-outline balanced" href="#/tab/maps">
    <ion-nav-view name="maps-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Pulse" icon-on="ion-android-favorite assertive" icon-off="ion-android-favorite-outline assertive" href="#/tab/pulse">
    <ion-nav-view name="pulse-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Settings" icon-on="ion-ios-gear energized" icon-off="ion-ios-gear-outline energized" href="#/tab/setting">
    <ion-nav-view name="setting-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
