<ion-view title="Forgot password">
  <ion-content>

    <p>
      <h1 class="title text-center balanced">Carbone</h1>
    </p>

    <p>
      <h5 class="padding-left ext-center calm">Password Reset</h3>
    </p>

    <form name="forgotPasswordForm" novalidate>
      <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="email" id="recoveryEmail" placeholder="Recovery email">
      </label>
      <div class="padding-horizontal">
        <button type="submit" class="button button-block button-positive"
          ng-click="resetPassword(user)">
            Submit
        </button>
      </div>
    </form>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <button class="button button-clear">Konex</button>
    <button class="button button-clear">Terms & conditions</button>
  </div>

</ion-view>
